PORT=5000
MYSQLHOST=ballast.proxy.rlwy.net
MYSQLPORT=15192
MYSQLDATABASE=teste
MYSQLUSER=root
MYSQLPASSWORD=cUxQKiTNIHZUlBQhphYhiESVTcrCJTGO
FLASK_DEBUG=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=COLOQUE_AQUI_O_EMAIL_REMETENTE
SMTP_PASSWORD=COLOQUE_AQUI_A_APP_PASSWORD
SMTP_REMETENTE=COLOQUE_AQUI_O_EMAIL_REMETENTE
APP_BASE_URL=http://localhost:5000

